.card {
  display: flex;
  height: 24rem;
  align-items: center;
  justify-content: center;

  width: 56.8rem;
  flex: 1;

  font-size: 2rem;
  gap: 2.4rem;
  padding: 0 1rem;
}

.statsContent {
  width: 15.8rem;
  height: 18rem;
  background: linear-gradient(
    93.61deg,
    rgba(255, 255, 255, 0.03) 1.71%,
    rgba(220, 223, 234, 0.01) 104.45%,
    rgba(255, 255, 255, 0.005) 104.45%
  );
  border-radius: 3rem;
  border: 1px solid
    linear-gradient(
      118.17deg,
      rgba(255, 255, 255, 0.0875) 14.33%,
      rgba(255, 255, 255, 0.0175) 87.33%
    );
  padding: 5rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.statsContent span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(188, 188, 188, 0.5);
  font-size: 1.2rem;
}

.statsContent p {
  font-size: 3.4rem;
  color: rgba(255, 255, 255, 1);
}
