/* Tema claro */
.light-theme {
  --background-color: white;
  --text-color: black;
}

/* Tema escuro */
.dark-theme {
  --background-color: black;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  margin-top: 10px;
}
