.active {
  color: rgba(244, 244, 244, 1);
}

.activeLight {
  color: black;
}

.colorDefault {
  border: none;
  cursor: pointer;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.2) !important;
}
