.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 56.8rem;
  font-size: 1.2rem;
  height: 5.5rem;
}

.card :nth-child(1) {
  list-style-type: none;
}

.card * {
  color: rgba(188, 188, 188, 0.5);
}

.card span {
  color: rgba(255, 255, 255, 1);
}

.subContent {
  display: inline-block;
  position: relative;
}

.item {
  display: inline-block;
  margin-right: 10px;
}
